*{
    width: 100%;
}
h1 {
    font-size: 30px;
    background-color: #4aaaa5;
    color: white;
    padding: 15px 10px 15px 10px;
    width: 190px;
    float: left;
}
header{
    border-bottom: 2px solid #cccccc;
    background-color: #ffffff;
    width: 100%;
    position: absolute;
}
nav{
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-bottom: 10px;
    margin-right: 0 auto;
}
#about{
    padding: 10px 20px 10px 20px;
    color: grey;
}
#portfolio{
    padding: 10px 20px 10px 20px;
    color: grey;
}
#contact{
    padding: 10px 20px 10px 20px;
    color: grey;
}
h2{
    color: #4aaaa5;
    font-size: 30px;
    font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
ul{
    list-style-type: none;
}
#profpic{
    width: 200px;
    height: 250px;
}
.portpic{
    width: 150px;
}
footer{
    background-color: #666666;
    color: white;
    height: 30px;
    text-align: center;
    padding: 50px 0 0 0;
    width: 100%;
    border-top: 5px solid #4aaaa5;
    font-size: 10px;
    font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
}
body{
    background-color: #ffffff;
}
p{
    font-style: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}
#container_2{
    border: 2px solid #dddddd;
    margin:0 auto;
    width: 960px;
}
.container_1{
    margin: 0 auto;
    width: 960px;
}
